.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.tox-statusbar__branding {
  display: none;
}
.github-picker {
  width: 213px !important;
}
.App-link {
  color: #61dafb;
}

body {
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(166, 169, 216, 1) 100%
  );
}

.note {
  margin-top: 7%;
  margin-left: 1%;
  transition: transform 0.2s;
}
.note:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 0.3s;
  transform: scale(1.2);
  transform: rotate(2deg);
}

.addnew {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 99;
}

.noteaction {
  float: right;
}

.notedate {
  float: left;
}

.notetitle {
  font-size: large;
}

.nonotestext {
  margin: auto;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 29px;
  letter-spacing: 2.2px;
  word-spacing: 5.8px;
  color: #7a81a1;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
